@import './base/mixin';

#home {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;

    span {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        animation: animated 3s linear infinite;

        @keyframes animated {
            0% {
                transform: rotate(315deg) translateX(0);
                opacity: 0;
            }
            5% {
                opacity: 0.5;
            }
            30% {
                opacity: 1;
            }
            90% {
                opacity: 1;
            }
            100% {
                transform: rotate(315deg) translateX(-1000px);
                opacity: 0;
            }
        }

        @for $i from 1 through length($animation-values) {
            &:nth-child(#{$i}) {
                @include animate-span($i);
            }
        }
    }

    .row {
        display: flex;
        padding: 0 15px;
        position: relative;
        z-index: 10;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .box-titles-icons {
            margin: 15px 0;
            position: absolute;
            top: 25px;
            left: 10%;

            .title-first,
            .title-second,
            .title-three {
                font-weight: 700;
                margin: 0;
                padding: 5px 0;
                color: var(--text-color);
                font-size: 28px;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            }

            .title-second {
                color: var(--primary-color);
            }

            .box-text-animated {
                display: none;
            }

            .list-icons {
                padding: 15px 0 0 0;

                a {
                    font-size: 28px;
                    color: var(--primary-color);
                    transition: all 0.5s;
                }

                a:hover {
                    color: var(--second-color);
                }

                i {
                    padding: 10px 0;
                }
            }

            @include media-up(md) {
                flex-direction: row;
                top: 10%;
            }
            @include media-up(xl) {
                top: 15%;
                .box-text-animated {
                    display: flex;
                    font-size: 30px;
                    margin: 0;
                    padding: 5px 0;
                }
            }
            .custom-div{
                position: relative;
                margin: 0 2px;
                &::before{
                    content: 'Desarrollador Full Stack';
                    color: var(--primary-color);
                    animation: words 20s infinite;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: calc(100% + 8px);
                    height: 100%;
                    background-color: var(--body-color);
                    border-left: 2px solid var(--primary-color);
                    right: -8px;
                    animation: cursor .8s infinite, typing 20s steps(14) infinite;
                }
                @keyframes cursor {
                    to {
                        border-left: 2px solid #ff7f5000;
                    }
                }
                
                @keyframes words {
                    0%,25%{
                        content: "Desarrollador Front End";
                    }
                    26%,45%{
                        content: "Desarrollador Full Stack";
                    }
                    46%,65%{
                        content: "Diseñadora";
                    }
                    66%,80%{
                        content: "Desarrollador Back End";
                    }
                    
                }
                @keyframes typing {
                    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
                        width: 0;
                    }
                    5%,20%,25%,40%,45%,60%,65%,80%,85%{
                        width: calc(100% + 8px);
                    }
                }
            }
        }

        .animated-text {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            font-size: 16px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 180px;
            }

            .title-logo {
                text-align: center;
                font-size: 25px;
                margin: 0;
                padding: 15px 0;
                color: var(--text-color);
                font-weight: 700;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

                &::before {
                    content: 'Desarrolladora Full Stack';
                }

                @include media-up(xl) {
                    &::after {
                        content: '';
                    }

                    &::before {
                        content: 'Developer Code';
                        font-size: 30px;
                    }
                }
            }
        }
    }
}